body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(219, 245, 250);
    font-family: 'Oxygen', sans-serif;
    touch-action: manipulation;
}



#title {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(21, 127, 248);

}

#shoppingListBoxText {
    font-size: 35px;
    color: rgb(85, 140, 243);
}

@media only screen and (max-width: 960px) {
    #toDoBox {
        /* display: flex; */
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
}



#successToastr {
    border-radius: 5px;
    background-color: rgb(89, 222, 89, 0.8);
    width: 40%;
    display: none;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    #successToastr {
        width: 70%;
    }
}

#clearToastr {
    border-radius: 5px;
    background-color: rgba(236, 64, 45, 0.8);
    width: 40%;
    display: none;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    #clearToastr {
        width: 70%;
    }
}

#deleteToastr {
    border-radius: 5px;
    background-color: rgba(251, 154, 62, 0.8);
    width: 40%;
    display: none;
    margin: 0 auto;
}

@media only screen and (max-width: 960px) {
    #deleteToastr {
        width: 70%;
    }
}


#shoppingListBoxText2 {
    font-size: 35px;
    color: rgb(85, 140, 243);
    text-align: left;
    margin-left: 38px;
}


#input {
    height: 35px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 10px;
}

#errorP {
    display: none;
    color: rgb(249, 74, 74);
    font-size: 35px;
    font-weight: bold;

}



#addButton {
    color: black;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px 8px 20px;
    margin-left: 20px;
    background-color: rgb(166, 192, 240);
    border: solid black 1px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 3px rgb(190, 210, 246));
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    #addButton {
        margin-top: 25px;
        margin-left: 0px;
    }
}

#addButton:hover {
    filter: drop-shadow(9px 9px 7px rgb(139, 178, 250));
    border: solid black 2px;
    transition: 2s;
}


#clearButton {
    color: black;

    margin-top: 50px;
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px 8px 20px;

    background-color: rgb(249, 97, 97);
    border: solid black 1px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 6px rgb(239, 157, 157));
    cursor: pointer;
}

#clearButton:hover {
    filter: drop-shadow(5px 5px 10px rgb(249, 74, 74));
    border: solid black 2px;
    transition: 2s;
}


#shoppingListBox {
    justify-content: left;
}

ul {
    font-size: 27px;
    list-style-image: url('shop.svg');
    text-align: start;
}

.newShoppingList {

    margin-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
    border: 3px solid rgba(166, 192, 240, 0.7);
    width: 300px;
    border-top: none;
    border-right: none;
}

.deleteButton {
    position: absolute;
    left: 330px;
    cursor: pointer;
}

.deleteButton:hover {
    opacity: 0.7;
}